<nav>
    <div class="menuToggle">
      <input type="checkbox" />
       <!--hamburger menu-->
        <span></span>
        <span></span>
        <span></span>
     
      <ul class="menu">
        <a href="/"><li class="home"> <img src="/assets/home.svg"><p>Home</p></li></a>
        <a href="#"><li class="test">  <img src="/assets/extension-puzzle-outline.svg"><p>Testing</p></li></a>
        <a href="#"><li class="lessons"> <img src="/assets/book-outline.svg"><p>Lessons</p></li></a>
        <a href="#"><li class="statistic">  <img src="/assets/bar-chart-outline.svg"><p>Statistics</p> </li></a>
        <a href="#"><li class="profile">  <img src="/assets/person-outline.svg"><p>Profile</p></li></a>
      </ul>
    </div>
  </nav>