<nav>
    <a href="#" class="triple-logo">
        <img src="assets/images/Triple_Logo_Midnight.png" alt="Triple Logo">
    </a>
    <ul class="menu">
        <li class="menu-item">
           <img src="/assets/home.svg">
        </li>
        <li class="menu-item">
          <img src="/assets/extension-puzzle-outline.svg">
        </li>
        <li class="menu-item">
            <img src="/assets/book-outline.svg">
        </li>
        <li class="menu-item">
            <img src="/assets/bar-chart-outline.svg">
        </li>
        <li class="menu-item">
            <img src="/assets/person-outline.svg">
        </li>
    </ul>
    <button class="hambrgr" aria-label="Toggle Menu"> 
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
</nav>