@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    /*colors*/
        /* general colors */
        --white: #fff;
        --black: #000;
        /* different screens */
        --method: linear-gradient(#471871, #142151);
        --statistics: linear-gradient(#219B9B, #1B7070);
        --testing: linear-gradient(#21599B, #1B3D70);
        --profile: linear-gradient(#F0775D, #B45751);
        /* menu buttons */

        /*play button*/
        --play-blue: #3A54DE;
        --play-orange: #FF8C59;

        /*create playlist*/
        --method-playlist: rgba(73, 67, 117, 0.5);
        --black-tranparent: rgba(0, 0, 0, 0.9);
    /*fonts*/
      /*family*/
      --text: 'Poppins', 'Helvetica', Sans-Serif;

      /*sizes*/
      --h1: 2rem;
      --h2: 1.5rem;
      --p: 1rem;

      /*padding*/
      --padding-1: 1rem;
      --padding-cards: 1.5rem;

      /*width heights*/
      --max-w: 100vw;
      --max-h: 100vh;
}

/*start general styling*/
body {
    font-family: var(--text);
}

h1{
    font-size: var(--h1);
}
h2{
    font-size:var(--h2);
}

p{
    font-size:var(--p);
}

/*end general styling*/

/*lesson stories styling*/
.lessons-story{
    padding: var(--padding-1);
    background: var(--method);
    color: var(--white);
    height: 100%;

    & h1{
        text-align: center;
    }
    & .playlists-story{ 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 100vh;
    }

    & .own-playlist{
        background-color: var(--white);
        padding: var(--padding-1);
        width: 43vw;
        margin-bottom: 1em;
        border-radius: 5px;
        margin-right: 1rem;

        & a {
            text-decoration: none;
            color: var(--black);
        }
        & img{
            max-width: 100%;
        }
        & svg{
            display: inline-block;
            justify-itself: center;
        }

        & .time{
            display: inline-block;
        }
    }
    & .create-playlist{
        background-color: var(--method-playlist);
        color: var(--white);
        text-align: center;
    } 
}
  & .allstories-story {
        display: grid;
        grid-template-column: repeat(3, 1fr);
        grid-gap: 10px;
        list-style-type: none;
        padding: 0;
        height: 100vh;
        
        & .language-toggle{

            & button{
                display: inline-block;
                background: rgba(255, 255, 255, 0.1); 
                border-radius: 5px;
                cursor: pointer;
                border: none;
                padding: var(--padding-1);
                justify-items: center;
                max-height: 10px;
                width: auto;
                color: var(--method);
                & img{
                    width: 20px;
                    margin-right: 5px;
                }
            }
            & .show-all{
                display: inline-block;
                align-self: right;
                text-decoration: none;
                color: var(--white);    
            }
           
        }
        & .story-card {
            background-color: var(--white);
            padding: var(--padding-1);
            border-radius: 10px;
            color: var(--black);
            height: 100%;

            & img {
                padding-top: var(--padding-1);
                padding-right: var(--padding-1);
                max-width: 20%;
                height: auto;
                border-radius: 5px;
                float: left;
            }

            & .story-details {
                padding: 10px 0;
                float:right;
                width: 80%;
                & h2{
                    margin: 0;
                }
                & summary{
                    margin: 5px 0;
                }
            }
            
            & .actions {
                margin-top: auto;
                display: flex;
                justify-content: space-between;

                &   .download-icon,
                    .save-to-playlist {
                    text-decoration: none;
                    color: var(--black);
                    font-weight: bold;
                }
            }
        }
    }
/*lesson stories styling*/

/*all stories*/

.search{
    width: 70vw;
    border-radius: 7px;
    padding: 0.5rem;
    border: none;
}
.sorting a{
    color: var(--white);
    text-decoration: none;
    text-align: center;
    background-color: var(--method-playlist);
    padding: 0.5rem;
}

/*nav styles*/
.menuToggle {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 50px; 
    z-index: 1000; 
    background:  var(--black-tranparent);
    padding: 0.5rem;
    border-radius: 5px;
    & a {
        text-decoration: none;
        color: var(--white);
        transition: color 0.3s ease;
      }
    & input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
      }
      
    & span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: var(--white);
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
      }
      & span:first-child {
        transform-origin: 0% 0%;
      }
      
      & span:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
      & input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: var(--white);
      }
      & input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
     & input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
      }
      & .menu {
        position: fixed;
        width: 100%; /* Set to full width */
        height: 100%; /* Set to full height */
        top: 0;
        left: 0;
        background: var(--black-tranparent);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        display: grid;  
        grid-template-columns: repeat(2, 1fr);

    & li {
        padding: 10px 0;
        font-size: 22px;
      }  
   
    }
    & input:checked ~ ul {
        transform: translate(0, 0); /* Slide in from the left */
      }
  }
  .home, .lessons, .profile{
    margin: var(--padding-1);
  }
  .home img, .lessons img, .profile img, .test img, .statistic img{
    padding: var(--padding-1);
    border-radius: 5px;
  }
  .home img{
     background: #3F92B6;
  }
  .test img{
    background: #599AE7;
  }
  .lessons img{
    background: #954BE2;
  }
  .statistic img{
    background: #06A192;
  }
  .profile img{
    background: #FD8C73;
  }